 body {
     background-color: #ffffff;
 }



 /* div[data-testid="column"] {
     background-color: yellow;
 } */

 div.css-1dr8wr7.e1f1d6gn1 {
     background-color: #fff;
     text-align: center;
     align-items: center;
     align-content: center;
     height: 18rem;
     padding-top: 40px;
     border-radius: 15px;
     /* margin-top: 30px; */


 }

 div.css-j5r0tf.e1f1d6gn1 {
     background-color: #fff;
     height: 35em;
     padding: 0px 20px;
     border-radius: 20px;

 }

 div.appview-container.css-1wrcr25.ea3mdgi6 {
     background-color: #ebebeb;
 }

 div.css-1yycg8b.e1f1d6gn1 {
     background-color: #fff;
     border-radius: 13px;
 }

 div.css-1bzkvni.e1f1d6gn1 {
     background-color: #fff;
     border-radius: 13px;
 }

 div.css-ih6xba.e1f1d6gn1 {
     background-color: #fff;
     border-radius: 13px;
 }

 div.css-q1hazy.e1f1d6gn1 {
     background-color: #fff;
     border-radius: 13px;
     height: 18rem;
 }